*{
    box-sizing: border-box;
}
body{
    background: rgba(250, 21, 212, 0.4);
    font-family: sans-serif;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align:center;
   height:100vh;
   overflow:hidden;
   margin:0;  
}
/*h2{
  margin:0;
    border-top: 0cm;
    border-radius: 4px solid black;
}*/
.btn{
    background-color: rgb(94, 228, 127);
    border-radius:5px;
    border:none;
    color:white;
    margin:10px;
    padding:30px 20px 15px;
    font-size:20px;
    font-family:inherit;
    cursor:pointer;

}

.btn:hover{
    opacity:0.9;
}
.btn:focus{
    outline:none;



}